<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.chainmaker.scm.dao.WHInfoDao">

   <!-- 창고 수 구하기 -->
  <select id="totalCnt" resultType="int">
  /** kr.happyjob.chainmaker.scm.dao.WHInfoDao.totalCnt */
  SELECT count(*) as totalcnt 
    FROM tb_warehouse as wh
    <where>
      <if test="(searchKey != null) and (!searchKey.equals(''))">
        <choose>
          <when test="(searchKey != null) and (searchKey eq 'ware_name'.toString())">
          wh.ware_name LIKE CONCAT('%', #{searchWord}, '%')
          </when>
          <when test="(searchKey != null) and (searchKey eq 'ware_address'.toString() || searchKey eq 'ware_dt_address'.toString())">
          (wh.ware_address LIKE CONCAT('%', #{searchWord}, '%') OR wh.ware_dt_address LIKE CONCAT('%', #{searchWord}, '%'))
          </when>
        </choose>
      </if>
      AND <![CDATA[wh.ware_no <> 0]]>
    </where>
  </select> 

  <!-- 창고 검색 조회 -->
  <select id="whInfoList" resultType="kr.happyjob.chainmaker.scm.model.WHInfoVO">
  /** kr.happyjob.chainmaker.scm.dao.WHInfoDao.whInfoList */
    SELECT   wh.ware_no,
             wh.ware_name, 
             wh.ware_address, 
             wh.ware_dt_address, 
             wh.ware_zipcode, 
             ui.name,
             ui.user_tel1,
             ui.user_tel2,
             ui.user_tel3,
             ui.user_email
    FROM     tb_warehouse as wh
    JOIN     tb_userinfo  as ui
    ON       wh.loginID = ui.loginID
    <where>
      <if test="(searchKey != null) and (!searchKey.equals(''))">
        <choose>
          <when test="(searchKey != null) and (searchKey eq 'ware_name'.toString())">
         AND wh.ware_name LIKE CONCAT('%', #{searchWord}, '%')
          </when>
          <when test="(searchKey != null) and (searchKey eq 'ware_address'.toString() || searchKey eq 'ware_dt_address'.toString())">
         AND (wh.ware_address LIKE CONCAT('%', #{searchWord}, '%') OR wh.ware_dt_address LIKE CONCAT('%', #{searchWord}, '%'))
          </when>
          <when test="(searchKey != null) and (searchKey eq 'all'.toString())">
         AND (ui.name LIKE CONCAT('%', #{searchWord}, '%')
          OR wh.ware_no LIKE CONCAT('%', #{searchWord}, '%')
          OR wh.ware_name LIKE CONCAT('%', #{searchWord}, '%')
          OR (wh.ware_address LIKE CONCAT('%', #{searchWord}, '%') 
          OR wh.ware_dt_address LIKE CONCAT('%', #{searchWord}, '%')))
          </when>
        </choose>
      </if>
     AND ui.del_cd = 'n'
     AND <![CDATA[wh.ware_no <> 0]]>
    </where>
    ORDER BY wh.ware_no
    LIMIT  #{pageIndex}, #{pageSize}
  </select>
  
  <!-- 배송담당자 정보 구하기 -->
<select id="whMngInfoList" resultType="kr.happyjob.chainmaker.scm.model.WHInfoVO">
/** kr.happyjob.chainmaker.scm.dao.WHInfoDao.whMngInfoList */
    SELECT loginID, 
           name, 
           user_tel1, 
           user_tel2, 
           user_tel3, 
           user_email
      FROM tb_userinfo
     WHERE user_type = 'B'
       AND del_cd = 'n'
  </select>
  
<!-- 창고 정보 구하기 -->
<select id="whMngWareInfoList" resultType="kr.happyjob.chainmaker.scm.model.WHInfoVO">
/** kr.happyjob.chainmaker.scm.dao.WHInfoDao.whMngWareInfoList */
    SELECT   wh.ware_no,
             wh.ware_name, 
             wh.ware_address, 
             wh.ware_dt_address, 
             wh.ware_zipcode, 
             ui.name,
             ui.user_tel1,
             ui.user_tel2,
             ui.user_tel3,
             ui.user_email
    FROM     tb_warehouse as wh
    JOIN     tb_userinfo  as ui
    ON       wh.loginID = ui.loginID
    WHERE    user_type = 'B' 
      AND    ui.del_cd = 'n'
      AND    ui.approval_cd = 'y'
</select>
  
  <!-- 창고 정보 등록 -->
  <insert id="insertWhInfo">
  /** kr.happyjob.chainmaker.scm.dao.WHInfoDao.insertWhInfo */
    INSERT INTO tb_warehouse
    (
    ware_cd, 
    ware_name, 
    ware_address, 
    ware_dt_address, 
    ware_zipcode, 
    loginID
    )
    
    VALUES 
     ( 
    (SELECT detail_code
       FROM (SELECT * FROM tb_detail_code WHERE group_code = 'wareCD') as cd
      WHERE cd.detail_name = #{ware_cd}), 
    #{ware_name}, 
    #{ware_address}, 
    #{ware_dt_address}, 
    #{ware_zipcode}, 
    #{loginID}
     )
  </insert>
  
  <!-- 창고 정보 수정 -->
  <update id="updateWhInfo">
  /** kr.happyjob.chainmaker.scm.dao.WHInfoDao.updateWhInfo */
    UPDATE tb_warehouse
       SET ware_cd = (SELECT detail_code
                        FROM (SELECT * FROM tb_detail_code WHERE group_code = 'wareCD') as cd
                       WHERE cd.detail_name = #{ware_cd}),
           ware_name = #{ware_name},
           ware_address = #{ware_address},
           ware_dt_address = #{ware_dt_address},
           ware_zipcode = #{ware_zipcode},
           loginID = #{loginID}
     WHERE ware_no = #{ware_no}
  </update> 
  
  <!-- 창고 정보 삭제 처리
  <update id="deleteWhInfo">
  /** kr.happyjob.chainmaker.scm.dao.WHInfoDao.deleteWhInfo */
   UPDATE tb_warehouse
      SET del_cd = '1'
    WHERE ware_no = #{ware_no}
  </update> -->
  
  
</mapper>